@charset "utf-8";
/* CSS Document */
.AUInfo-main{
}
.AUInfo-main ul li{
background-color: #fff;
    overflow: hidden;
    padding: .2rem;
    border-bottom: 1px #e1e1e1 solid;
}
ul li:first-child input {
	
	width: 86%;
    height: 45px;
    background: #E6E9EE;
    text-indent:10%;
    letter-spacing:0.7px;
    border: 2px solid #CED0D4;
    color:rgba(128, 128, 128, 0.71);
   
}
ul li >input:not(:first-child) {
    width: 60%;
    height: 1.40625rem;
    border: 1px solid #CED0D4;
    text-indent: 5%;
    font-size: 14px;
    border: none;
    border-bottom: 1px #ececec solid;
    text-align: right;
    color:#aeaeae;
}
.verification{
	 margin-top: .2rem;
	background: #33CB98;
    width: 35%;
    height: 36px;
    display: inline-block;
    padding-top: 5px;
    text-align: center;
    color:white;
    font-size:13px;
    line-height:27px;
    
}
ul li p{
	font-size: 17px;
    color: #aeaeae;
    padding-left: 0.25rem;
    display:inline-block;
    width: 32%;
}
.Select-img span{
	height: 40px;
    background: white;
    display: inline-block;
    padding-top: 8px;
    width: 52%;
}
.Select-img button{
	background:white;
	border:none;
	border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
	width:30%;
}
.on-line{
	position:fixed;
	width:40px;background:#FD9F20;
	height:40px;
	border-radius:20px;
	top:80%;
	left:85%;
}
.on-line span{
	font-size:10px;vertical-align:bottom;width:50%;display:block;text-align:center;margin-left:10px;padding-top:4px;color:white
}
.verification-activate{
	background:#CECECE!important;
	color: red !important;
}
.save_{
	width: 86%;
    margin-left: 7%;
    margin-right: 7%;
    background: #33CB98;
    color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 4px;
}
